@use "_mixins";

body {
    padding: 0;
    margin: 0;

    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.7px;
    font-weight: 300;
    line-height: 1.5;
    color: mixins.$main-text-color;
    background: linear-gradient(84deg, rgba(44, 1, 6, 1) 0%, rgba(16, 4, 34, 1) 36%, rgba(34, 21, 49, 1) 61%, rgba(74, 52, 10, 1) 77%, rgba(46, 61, 3, 1) 100%);
    backdrop-filter: blur(75px);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: normal;
}

a {
    color: mixins.$main-text-color;
    text-decoration: none;
}

ul {
    list-style-position: inside;
}

button {
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.button {
    padding: 0.5rem 0.75rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    border-radius: 5px;
    background-color: #fdc500;

    &-active {
        background-color: #fdc60088;
    }
}

.section {
    padding: 5rem 0;
}

.container {
    margin: 0 auto;
    padding: 2rem;
    max-width: mixins.$desktop;
}