@use "_mixins";

html {}

body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
    color: mixins.$main-text-color;
    background: linear-gradient(84deg, rgba(44, 1, 6, 1) 0%, rgba(16, 4, 34, 1) 36%, rgba(34, 21, 49, 1) 61%, rgba(74, 52, 10, 1) 77%, rgba(46, 61, 3, 1) 100%);
    backdrop-filter: blur(75px);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-position: inside;
}

.section {
    padding: 5rem 0;

    &:nth-child(3),
    &:nth-child(5) {
        background-color: mixins.$secondary-bg-color;
    }
}

.container {
    margin: 0 auto;
    max-width: mixins.$desktop;
}